body{
    min-height: 100vh;
     overflow: hidden;
}

i{
    opacity: 0.7;
    top: 10px;
    left: 10px;
    position: fixed;
    color: white;
    cursor: pointer;
}

.containerpestaña{
    overflow: hidden;
    border: 0px solid #ccc;
    background-color: #F7F7FF;
    display: flex;
    justify-content: center;
    
}

.containerpestaña button {
    display: flex;
    justify-content: center;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.containerpestaña button:hover {
  background-color: #ddd;
}

.containerpestaña button.active {
  background-color: #ccc;
}


.pestañacont{
    display: none;
    border: 0;
    border-top: none;
    height: 100%;
    width: auto;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
}



.sidenav{
    height: 100%;
    width: 400px;
    display:flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: #F7F7FF;
    top: 0; 
    left: 0;
}



.topsidenav{
    height: 25%;
    width: 400px;
    display:flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0; 
    left: 0;
    color: white;
    background-color: #337d4b;
}
.bottomsidenav{
    height: 100%;
    width: 400px;
    display:flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 25%; 
    left: 0;
    background-color: #F7F7FF;
   
}



.sidenav form{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar {
    margin-top: 30px;
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
}

input{
    opacity: 0.8;
    width: 70%;
    padding: 15px;
    margin-top: 30px;
    display: inline-block;
    font-size: 100%;
    border: none;
    background: #f1f1f1;
}


.crearprflbtn{
    width: 400px;
    opacity: 0.8;
    background-color: #337d4b;
    border-color: white;
    font-size: 100%;
    color: white;
    margin-top: 30px;
    padding: 15px;
    bottom: 0;
    left: 0;
    position: fixed;
}

h2, h3{
    font-family: 'Poppins', sans-serif;
}
h2{
    color: white ;
    font-size: 25px;
}
h3{
    color: #8C8C8C ;
    font-size: 15px;
}
p{
    font-family: 'Jost', sans-serif;
    color: black ;
    font-size: 15px;
}

.full{
    height: 100vw;
    display: flex;
}

.main{
    height: 100%;
    flex: 1;
    position: fixed;
    background-color: white;
    margin-left: 400px;
    width: calc(100% - 400px);
    overflow-y: scroll;
}

.perfilescont{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perfilcont{
    font-size: 18px;
    font-family: 'Jost', sans-serif;
    text-align: center;
    background-color: #CCE2A3;
    border-color:  white;
    border-width: 1px;
    color: #173753;
    cursor: pointer;
    height: 50px;
    width: 300px;
    transition: 0.4s;
    outline: none;
    margin-top: 10px;
    border-radius: 5px;
    
}

.perfilcont.active {
  background-color: #A6D79C;
}

.active .perfilcont:hover{
    background-color: #ccc;
}

.prflpanel {
    display: flex;
    flex-direction: row;
    
    opacity: 0.8;
    width: 260px;
    padding: 0 18px;
    background-color: #f0f0f0;
    border-color: gray;
    color: gray;
    display: none;
    overflow: hidden;
    
    column-count: 2;
    column-gap: 5px;
    
}

.prflpanel button{
    margin-bottom: 5px;
    margin-top: 5px;
}

.col-50 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    
}

.img1{
    height: 300px;
}
.img2{
    opacity: 0.6;
    height: 400px;
}
.textdiv{
    width: 80%;
    margin: auto;
    text-align: justify-all;
}
.textdiv h3{font-size: 26px;}
.textdiv h2{font-size: 18px; color: gray;}
.textdiv p{font-size: 20px;}

.macrotable{
    font-family: 'Jost', sans-serif;
    color: #898989;
    font-size: 19px;
    border-collapse: collapse;
    width: 100%;
}
.macrotable td, th{
    border: 1px solid #ddd;
    padding: 8px;
}

