body{
    min-height: 100vh;
}

.containerpestaña{
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.containerpestaña button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.containerpestaña button:hover {
  background-color: #ddd;
}

.containerpestaña button.active {
  background-color: #ccc;
}

.pestañacont{
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}



.sidenav{
    height: 100%;
    width: 400px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: #212121;
    top: 0; 
    left: 0;
}


.avatar {
  width: 240px;
  height: 240px;
  margin-bottom: 40px;
}

input[type=text] {
    opacity: 0.8;
    width: 70%;
    padding: 25px;
    margin: 5px 0 22px 0;
    display: inline-block;
    font-size: 100%;
    border: none;
    background: #f1f1f1;
}

.ingresabtn{
    opacity: 0.8;
    background-color: #5E8AAC;
    font-size: 100%;
    color: white;
    margin-top: 5px;
    padding: 15px;
    width: 83%;
    
}

h3{
    font-family: 'Jost', sans-serif;
    color: #8C8C8C ;
    font-style: italic;
    font-size: 100%;
}

.main{
    height: 100%;
    width: 100%;
    margin-left:400px;
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    
}
